{% extends 'base.html.twig' %}

{% block title %}Condidat index{% endblock %}

{% block body %}
    <h1>Condidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condidat in condidats %}
            <tr>
                <td>{{ condidat.id }}</td>
                <td>{{ condidat.nom }}</td>
                <td>{{ condidat.email }}</td>
                <td>{{ condidat.password }}</td>
                <td>
                    <a href="{{ path('condidat_show', {'id': condidat.id}) }}">show</a>
                    <a href="{{ path('condidat_edit', {'id': condidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('condidat_new') }}">Create new</a>
{% endblock %}
